.ingredients-list{
    width: 80vw;
    // background-color: yellow;
    display: flex;
    // flex-wrap: wrap;
    overflow-y: scroll;
    padding: 10px;
    // justify-content: center;

    .picked{
        background-color: lightgreen;
    }

    li {
        background-color: white;
        // margin-left: 5px;
        // margin-right: 5px;
        margin: 5px;
        width: 200px;
        // height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        border: solid 1px lightgray;
        padding: 10px;
        // box-shadow: 0px 0px 5px rgba($color: #5c5c5c, $alpha: 1.0);

        .ingredient-image{
            height: 180px;
            width: 180px;
            object-fit: cover;
            // object-position: 100% 100;
            border-radius: 10px;
            margin: 10px;
            
        }

        p {
            font-size: 20px;
        }
    }

    li:hover{
        background-color: lightgray;
        transition: 0.3s;
    }
}

.recipe-form-container{
    width: 100vw;
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    // padding-top: 10px;
    // background-color: yellow;

    .recipe-form-title{
        font-size: 35px;
        font-weight: bold;
        padding: 15px;
        background-color: lightgrey;
        width: 100%;
        text-align: center;
    }

    label {
        font-size: 30px;
        width: 80vw;
        // background-color: red;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 20px;
        border-bottom: solid 1px lightgray;
        // justify-content: space-between;
        .recipe-element {
            text-align: center;
            font-weight: bold;
            width: 30vw;
            background-color: white;
            padding: 10px;
        }
        input{
            width: 40vw;
            font-size: 20px;
            font-family: 'didot';
            padding: 5px;
            border: solid 1px grey;
        }
        select{
            width: 40vw;
            font-size: 20px;
            padding: 5px;
            font-family: 'didot';
        }
    }

    .submit-container{
        // background-color: red;
        display: flex;
        justify-content: center;
        padding: 10px;

        input {
            font-family: "didot";
            background-color: black;
            color: white;
            padding: 10px;
            border-radius: 5px;
            font-size: 20px;
            border: none;
        }
    }
}

.included-ingredients{
    font-size: 20px;
    width: 90%;

    .thin-col{
        width: 20%;
        // background-color: red;
        text-align: center;

        input{
            width: 50px;
            text-align: center;
        }
        
    }

    .wide-col{
        width: 40%;
        // background-color: red;
        text-align: center;
    }

    .included-ingredient-list-item{
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        // justify-content: center;
        align-items: center;
        border-bottom: solid 1px lightgrey;


        select{
            width: 100px;
            text-align: center;
        }
    }
    
}

.ingredient-header{
    display: flex;
    // justify-content: space-between;
    font-weight: bold;
    border-bottom: solid 1px gray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}