.navbar-container{
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    // padding: 15px;
}